.portfolio__contact {
  //LEFT

  .portfolio__contact-left {
    // border: 2px solid #ccc;
    border-radius: 12px;
    height: 100%;
    padding: 35px 21px;
    -webkit-box-shadow: 0px 0px 44px -13px #bababa;
    -moz-box-shadow: 0px 0px 44px -13px #bababa;
    box-shadow: 0px 0px 44px -13px #bababa;

    .portfolio__contact-form {
      margin: 35px 0;
      position: relative;
      label {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        transition: 0.2s;
        padding: 0 5px;
        background-color: #fff;
        color: #ccc;
        font-size: 16px !important;
      }
      input {
        height: 40px;
      }
      textarea {
        resize: none;
        height: 100px;
      }
      input,
      textarea {
        padding: 10px 0px 10px 20px;
        width: 100%;
        border: 2px solid #ccc;
        transition: 0.2s;
        font-size: 16px !important;
        &:focus {
          border-color: #000;
          ~ label {
            color: #000;
            top: 0;
          }
        }
        &::placeholder {
          color: transparent;
        }
        &:not(:placeholder-shown) {
          ~ label {
            top: 0;
          }
        }
      }
    }
    button {
      background-color: #0000;
      border: 0;
      font-size: 16px;
      padding: 10px 25px;
      cursor: pointer;
      transition: ease-in 0.1s;
      border-radius: 6px;
      font-weight: bold;
      float: right;
      &:hover {
        color: #fff;
        background-color: #000;
        transition: ease-out 0.1s;
        -webkit-box-shadow: 0px 0px 10px 8px #bababa;
        -moz-box-shadow: 0px 0px 10px 8px #bababa;
        box-shadow: 0px 0px 10px 8px #bababa;
      }
    }
  }

  // RIGHT
  .ui.image {
    height: 100%;
  }
}
